@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

:root {
    --color-background: #0e171f;
    --color-primary: #D02F39;
    --color-primary-dark: #C80814;
    --color-text: #ffffff;

    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    color: var(--color-text);
    font-family: 'Inter', sans-serif;
}

html,
body {
    height: 100vh;
    background-color: var(--color-background);  
    font-size: 1.6rem;  
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    text-align: center;
    margin-top: 4.5rem; 
    width: 90%;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    background-color: #0e171f;    
    border-bottom: 1px solid #fff;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#logo-container #logo {
    width: 45px;
    height: 45px;
}

#logo-container h1 {
    margin: 0 2px;
    color: #e6e6e6;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    flex-wrap: wrap;
}

.search-container .user {
    padding: 20px;
    margin-right: 8px;
    border: var(--color-primary) 2px solid;
    color: #13181d;
    border-radius: 12px;
    outline: none;
}

.search-container .searchBtn {
    padding: 20px;
    color: var(--color-text);
    background-color: var(--color-primary);
    border-radius: 12px;
    border: none;
    transition: all linear .2s;
    outline: none;
}

.search-container .searchBtn:hover {
    background-color: var(--color-primary-dark);
    transform: scale(1.1);
}

.ulElement {
    margin: 1.5rem 0;
}

.ulElement li {
    margin: 1rem;
   
    list-style: none;
    text-align: center;
}

.ulElement li a {
    display: block;
    padding: 1rem;
    border: 1px solid var(--color-primary-dark);
    border-radius: 2rem;
    text-decoration: none;
    transition: all ease .5s;
}

.ulElement li a:hover {
    background-color: var(--color-primary);
    border: 1px solid #fff;
    transform: scale(1.1);
}

.hidden {
    display: none;  
}

@media(max-width: 375px) {
    :root {
        font-size: 60%;
    } 

    .container h1 {
        transition: all ease 1s;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 5px;
    }

}